.seperator-line {
  border-left: 2px solid black;
  height: 2rem;
  max-height: 100%;
}

.mobile-navigation {
  .ham-line {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }

  ul {
    background-color: white;
    &.top-level {
      right: -1.25rem;
    }
  }
}

nav {
  ul {
    li {
      a {
        &:hover {
          transition: all 350ms ease-in-out;
          @apply text-amber-500;
        }

        &.active:not(.sub-menu-item) {
          @apply text-baseBlue;
          @apply border-b;
          @apply border-accentPurple;
        }

        &.sub-menu-item.active {
          @apply text-baseBlue;

          &:hover {
            transition: all 350ms ease-in-out;
            @apply text-amber-500;
          }
        }
      }
    }

    &.sub-menu {
      background-color: whitesmoke;

      &.absolute {
        border-radius: 5%;
        z-index: 100000;
      }
    }
  }
}
